<footer class="box-w100 flex-c flex-center">
    <div class="box-w80">
        <div id="left-footer">
            <img src="/imgs/logo.jpg" alt="" id="footer__logo">
        </div>
        <div id="right-footer">
            <%- include('./nav-menu.ejs') %>
            
        </div>
    </div>
</footer>
<script src="/js/index.js"></script>