<div id="header__wrapper">
    <div id="header">
        <img src="/imgs/logo.jpg" alt="BestStop, Everything you need in a car" id="header__logo">
        <%- include('./nav-menu.ejs') %>
    </div>
</div>