<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/preloader.ejs') %>
    <div class="box-w80 ">
        <div class="box-w100">
            <div id="inventory-title" class=" box-w100 flex-c dark-box">
                <div class="h1-wrapper"><h1>Find your dream car!</h1></div>
            </div>
        </div>
    </div>

    <div id="inventory-container" class="box-w80 flex-c flex-center">

    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>