<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/preloader.ejs') %>
    <div class="box-w80 flex-c flex-center dark-box">
        <div class="box-w100 flex-center flex-c">
            <div id="home-title">
                <div class="h1-wrapper"><h1>Welcome</h1></div>
            </div>
            <div id="home-content">
                <p>
                    Welcome to BestStop, your ultimate destination for all things automotive! At BestStop, we take pride in offering an exceptional car dealership experience that goes above and beyond the ordinary. Whether you're searching for a sleek and stylish sedan, a spacious family SUV, a rugged off-roader, or any other type of vehicle, we've got you covered with an extensive selection of top-quality automobiles.
                </p>
                <p>
                    At the heart of our dealership is a passionate team of automotive experts who are dedicated to providing you with personalized service and guidance throughout your car-buying journey. With years of industry knowledge and a deep understanding of our customers' needs, our team is committed to matching you with the perfect vehicle that fits your lifestyle and budget.
                </p>
                <p>
                    What sets us apart is our unwavering commitment to excellence and customer satisfaction. We prioritize transparency and integrity in every transaction, ensuring that you have all the information you need to make informed decisions. Our mission is not just to sell cars but to build lasting relationships with our customers, earning your trust and loyalty for years to come.
                </p>
                <p>
                    Beyond our impressive selection of new and pre-owned vehicles, we offer a range of services to make your ownership experience as smooth and enjoyable as possible. From flexible financing options to expert maintenance and repair services, our comprehensive approach ensures that you're supported at every stage of your car ownership.
                </p>
                <p>
                    Thank you for considering BestStop as your preferred car dealership. We invite you to explore our website, visit our state-of-the-art showroom, and discover the BestStop difference for yourself. Let us be your partner in finding the car of your dreams, and we promise to deliver an experience like no other. Your journey towards driving excellence starts right here, right now, at BestStop.
                </p>
                <a href="/contact"><button id="contactus-btn">Contact Us</button></a>        
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>